name: Build Go Library Android

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.1'

      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r21e

      - name: Build Android arm64-v8a
        run: go build -buildmode=c-shared   -trimpath  -o out/arm64-v8a/lib_token_studio_graph_engine.so -v ./...
        env:
          GOOS: android
          GOARCH: arm64
          CGO_ENABLED: 1
          CARCH: arm64

      - name: Build Android armeabi-v7a
        run: go build -buildmode=c-shared   -trimpath  -o out/armeabi-v7a/lib_token_studio_graph_engine.so -v ./...
        env:
          GOOS: android
          GOARCH: arm
          CGO_ENABLED: 1
          CARCH: arm

      - name: Build Android x86
        run: go build -buildmode=c-shared   -trimpath  -o out/x86/lib_token_studio_graph_engine.so -v ./...
        env:
          GOOS: android
          GOARCH: 386
          CGO_ENABLED: 1
          CARCH: 386

      - name: Build Android x86_64
        run: go build -buildmode=c-shared   -trimpath  -o out/x86_64/lib_token_studio_graph_engine.so -v ./...
        env:
          GOOS: android
          GOARCH: amd64
          CGO_ENABLED: 1
          CARCH: amd64


      - name: Upload output
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: out