name: Build Go Library iOS

on: [push]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.1'


      - name: Install Gomobile
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          go install golang.org/x/mobile/cmd/gobind@latest
          go get golang.org/x/mobile/cmd/gobind
          go get golang.org/x/mobile/cmd/gomobile
          gomobile init
        env:
          GOPROXY: https://proxy.golang.org,direct
          GO111MODULE: "on"

      - name: Create output Dir
        run: |
          mkdir output

      - name: Build ios Simulator with gomobile
        run: |
          gomobile bind -target=iossimulator -v -o output/ ./...
        env:
          GO111MODULE: auto
          CGO_ENABLED: 1

      - name: Build ios with gomobile
        run: |
          gomobile bind -target=ios -v -o output/ ./...
        env:
          GO111MODULE: auto
          CGO_ENABLED: 1

      - name: Upload output
        uses: actions/upload-artifact@v3
        with:
          name: output
          path: output/